body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* npm install react-router-dom */
/* function App() {
    const [page, setPage] = useState("/")
    
    return (
        <div>
            <NavBar onChangePage={setPage} />
            <Switch>
                <Route path="/home">
                    <Home />
                </Route>
                <Route path="/about">
                    <About />
                </Route>
                <Route path="/movies">
                    <ProjectList />
                </Route>
            </Switch>
        </div>
    );
}

export default App;
 */
 /* function NavBar({ onChangePage }) {
    
    function handleLinkClick(e) {
        e.preventDefault()
        onChangePage(e.target.pathname)
    }
    
    return (
        <nav>
            <a onClick={handleLinkClick} href="/">Home</a>
            <a onClick={handleLinkClick} href="/about">About</a>
            <a onClick={handleLinkClick} href="/projects">Projects</a>
        </nav>
    );
}

export default NavBar; */
/* import React, { useState } from "react";
import { Switch, Route } from "react-router-dom";
import NavBar from "./NavBar";
import Home from "./Home";
import About from "./About";
import ProjectList from "./ProjectList";

/*
Client Side Routing
- URLs
- REST - REpresentation State Transfer

npm install react-router-dom
https://reactrouter.com/web/guides/quick-start
*/

/*function App() {
  const [page, setPage] = useState("/")
  
  return (
      <div>
          <NavBar onChangePage={setPage} />
          <Switch>
              <Route path="/home">
                  <Home />
              </Route>
              <Route path="/about">
                  <About />
              </Route>
              <Route path="/projects">
                  <ProjectList />
              </Route>
          </Switch>
      </div>
  );
}

export default App;
*/